<!doctype html>
<html>
    <head>
        <title>Code Clustering</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Test</h1>
        <ul>
            <!-- <% for(var i=0; i<list_length; i++) { %>
                <li>
                    <a href=<%= topics[i] %>><%= topics[i] %></a>
                </li>
            <% } %> -->
                <li>
                    <a href="second_p">second_p</a>
                </li>
        </ul>
    </body>
</html>